section.youtube
  .flex.flex--space-around
    .col-1.order-first
      p.home-lead.outdented ... Elias is building his website
      a(href="https://github.com/EliasCode2015").home-cta Please click here for github account
