section.youtube
  .flex.flex--space-around
  
    .col-1
      .video-strip
      .flex-video <iframe src="https://www.youtube.com/channel/UC28gQr92dyNB37E7PSZJrjg">
      
    .col-1.order-first
      p.home-lead.outdented ... Elias is building his website
      a(href="https://github.com/EliasCode2015").home-cta Please click here for github
